Task - 1 Create a pandas dataframe (DataFrame name as 'df') (10 observation and 5 features)

In [12]:
import numpy as np
import pandas as pd
data ={
    'ROLL NO ':[100,101,104,109,110,112,113,120,123,125],
    'NAME':['VAMSHI KRISHNA','UDAY KIRAN','MADHAV','GANESH','SANTHOSH','PRANEETH','SAIF','RAKESH','HARI','SHADIQ'],
    'BRANCH':['CSE','CSE','ECE','EEE','CIVIL','MECHANICAL','CSE','ECE','EEE','CSE'],
    'COURSE NAME ': ['AI ML','MERN STACK','VLSI DESIGN','ELECTRICAL DESIGN','CONCRETE TECHNIQUES','MECHANICAL SERVICE ENG','AWS','VLSI DESIGN','CIRCUIT DESIGN','JAVA FULL STACK'],
    'PRICE': [4000,4500,3000,2000,1000,1200,5000,np.nan,2500,8000]

}
df = pd.DataFrame(data)
df

   ROLL NO             NAME      BRANCH            COURSE NAME    PRICE
0       100  VAMSHI KRISHNA         CSE                   AI ML  4000.0
1       101      UDAY KIRAN         CSE              MERN STACK  4500.0
2       104          MADHAV         ECE             VLSI DESIGN  3000.0
3       109          GANESH         EEE       ELECTRICAL DESIGN  2000.0
4       110        SANTHOSH       CIVIL     CONCRETE TECHNIQUES  1000.0
5       112        PRANEETH  MECHANICAL  MECHANICAL SERVICE ENG  1200.0
6       113            SAIF         CSE                     AWS  5000.0
7       120          RAKESH         ECE             VLSI DESIGN     NaN
8       123            HARI         EEE          CIRCUIT DESIGN  2500.0
9       125          SHADIQ         CSE         JAVA FULL STACK  8000.0

Task- 2 Check the info of 'df'

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ROLL NO       10 non-null     int64
 1   NAME          10 non-null     object
 2   BRANCH        10 non-null     object
 3   COURSE NAME   10 non-null     object
 4   PRICE         9 non-null      float64
dtypes: float64(1), int64(1), object(3)
memory usage: 528.0+ bytes

Task 3- Check the descriptive statistics of 'df'

In [15]:
df.describe()

         ROLL NO         PRICE
count   10.000000     9.000000
mean   111.700000  3466.666667
std      8.794569  2201.703886
min    100.000000  1000.000000
25%    105.250000  2000.000000
50%    111.000000  3000.000000
75%    118.250000  4500.000000
max    125.000000  8000.000000

Task 4- check the 4th index observation with 'loc' slicing operator.

In [16]:
df.loc[3]

ROLL NO                       109
NAME                       GANESH
BRANCH                        EEE
COURSE NAME     ELECTRICAL DESIGN
PRICE                      2000.0
Name: 3, dtype: object

Task 5 - Check the null values in your 'df'

In [17]:
# To check the null value
df.isnull().any()

ROLL NO         False
NAME            False
BRANCH          False
COURSE NAME     False
PRICE            True
dtype: bool

In [18]:
df.isnull().sum() # To check the number of null values

ROLL NO         0
NAME            0
BRANCH          0
COURSE NAME     0
PRICE           1
dtype: int64